.ApplicationsTable {
    width: 80%;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ApplicationsTable h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.filters input[type="text"],
.filters select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    max-width: 200px;
    box-sizing: border-box;
}

.filters button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filters button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: white;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

.status-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

.ApplicationsTable table tr td:nth-child(6) {


    padding-left: 27px;

}